<a href="https://colab.research.google.com/github/Haridharshan15/Python-practice/blob/main/Python_09_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=["10","20","30"]

b,c,d=a
print("total : ",int(b)+int(c),int(d))
print("----------------------")
#swapping without list,function
a,b=10,20
b,a=a,b
print("Swapped variables : A is ",a," and B is ",b)

total :  30 30
----------------------
Swapped variables : A is  20  and B is  10

In [ ]:
#value passing just try
x=str(2)
print(x)

2

In [ ]:
#value passing just try
x=int('2')
print(x)

2

In [ ]:
#getting input from user
x=input("Enter the value of A : ")

Enter the value of A : h

In [ ]:
n,k =map(int, input().split())
print(f"{n//k}\n {n%k}")
print(f"({n//k}, {n%k})")

177 10
(17
 7)
(17, 7)

In [ ]:
#getting multiple input in single line from user
a,b,c=input("Enter the value for A B C : ").split()
print("Total : ",int(a)+int(b)+int(c))

Enter the value for A B C : 10 40 50
Total :  100

In [ ]:
#list  is mutable (we can change the value afrter the list created)
a=["10","20","30","50","60","80"]
print(a[ : ])
print(a[1:4])
print(a[:-1])
print(a[::-1])

['10', '20', '30', '50', '60', '80']
['20', '30', '50']
['10', '20', '30', '50', '60']
['80', '60', '50', '30', '20', '10']

In [ ]:
#slicing in string
a='HariDharshan'
print(a)
print("a[:4]  : ",a[:4])
print("a[4:]  : ",a[4:])
print("a[::2] : ",a[::2])
print("a[1::2]: ",a[1::2])
print("a[::-1]: ",a[::-1])

HariDharshan
a[:4]  :  Hari
a[4:]  :  Dharshan
a[::2] :  HrDasa
a[1::2]:  aihrhn
a[::-1]:  nahsrahDiraH

In [ ]:
#for loop
a='HariDharshan'
b=['a','e','i','o','u']
c=[]
count=0
for i in a:
  if i in b:
    c.append(i)
    count+=1
  else:
    continue

print(a)
print(c)
print("Total vowels : ",count)

HariDharshan
['a', 'i', 'a', 'a']
Total vowels :  4

In [ ]:
def is_leap(year):
    leap = False

    if year % 4 == 0:
        leap = True
    elif (year % 100 == 0):
        leap = False
    elif (year % 400 == 0):
        leap = True

    return leap
year = int(input())
print(is_leap(year))

4000
True

In [ ]:
#if else in python
a=int(input("Enter Grade : "))
if a>=90:
  print("Grade A")
elif a>=80:
  print("Grade B")
elif a>=70:
  print("Grade C")
elif a>=60:
  print("Grade D")
else:
  print("You Fail, go and fuck")

In [ ]:
#Match-case statement in python(like switch case in c,c++)
b,n,c=input("Enter the number : ").split()
match n:
  case '+':
    print("Addition")
    print(f"{b}-{c} = ",int(b)+int(c))
  case '-':
    print("Subtraction")
    print(f"{b}-{c} = ",int(b)-int(c))
  case '*':
    print("Multiplication")
    print(f"{b}*{c} = ",int(b)*int(c))

  case '/':
    print("Division")
    print(f"{b}/{c} = ",int(b)/int(c))

  case '%':
    print("Modulus")

    print(f"{b}%{c} = ",int(b)%int(c))

  case _:
    print("Invalid input")

Enter the number : 5 + 6
Addition
5-6 =  11

In [ ]:
#dictionary in python
d={1:'1',2:'am',3:'young','age':22}
print(d)

#using pop() to remove value an item and return the value
val=d.pop(2)
print(f"value: {val}")

#using pop item to remove and return
#the last key value pair
key,val=d.popitem()
print(f"key: {key},value:{val}")

{1: '1', 2: 'am', 3: 'young', 'age': 22}
value: am
key: age,value:22

In [ ]:
#for loop star pattern
n=5
for i in range(0,n,1):
  for i in range(0,n,1):
    print("* ",end="")
  print("\r")

print("------------------")
for i in range(0,n,1):
  for i in range(0,i+1):
     print("* ",end="")
  print("\r")

print("------------------")
for i in range(0,n,1):
  for i in range(0,n-i):
     print("* ",end="")
  print("\r")

print("------------------")
for i in range(0,n,1):
  for j in range(0,n,1):
    if i
        print("* ",end="")
  print("\r")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
------------------
*
* *
* * *
* * * *
* * * * *
------------------
* * * * *
* * * *
* * *
* *
*
------------------
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#class and object
class Hari:
    def __init__(self,name,age):
      self.n=name
      self.k=age
    def cool(self):
      return f"My name is {self.n} and my age is {self.k}"
x=Hari("Dharshan",22)
print(x.cool())

My name is Dharshan and my age is 22

In [ ]:
def decorator(func):
    def wrapper():
        print("Before function")
        func()
        print("After function")
    return wrapper

@decorator
def hello():
    print("Hello!")

hello()

Before function
Hello!
After function

In [ ]:
#property decorator
class hari:
  def __init__(self,name,age):
    self.n=name
    self.k=age
  @property        #property decorator [fuction will be change into property]
  def msg(self):
    return self.n + " is "+str(self.k)+" years old"
x=hari("Dharshan",22)
print(x.n)
print(x.k)
print(x.msg)      # msg is a property so thats why we use here "x.msg" instead of "x.msg()"==> this is for call a function
x.k=30
print(x.msg)

Dharshan
22
Dharshan is 22 years old
Dharshan is 30 years old

In [ ]:
#property decorator gettarr setaar
class hari:
  def __init__(self,total): #in python dont have private and puplic variable we assume that
    self._tot=total        #_tot "_" means private dont access directly  like encaptulation
  def avg(self):
    return self._tot/5.0
  @property          #property decorator [fuction will be change into property]
  def tot(self):
    return self._tot
  @tot.setter          # to set the vale for _tot indirectly
  def tot(self,t):
    if t<0 or t>100:      #validation process also we can uese in setter
      print("Invalid Value")
    else:
      self._tot=t
o=hari(100)
print(o.tot)
print(o.avg())

o.tot=90       #to send the another value to _tot through tot
print(o.tot)
print(o.avg())

o.tot=110       #to send the another value to _tot through tot
print(o.tot)
print(o.avg())

100
20.0
90
18.0
Invalid Value
90
18.0

In [ ]:
#property method
class hari:
  def __init__(self,total): #in python dont have private and puplic variable we assume that
    self._tot=total        #_tot "_" means private dont access directly  like encaptulation
  def avg(self):
    return self._tot/5.0
                        # instead of property decorator,we use down tot=property(tot,tot)
  def tot(self):
    return self._tot

  def setter(self,t):     # to set the vale for _tot indirectly
    if t<0 or t>100:      #validation process also we can uese in setter
      print("Invalid Value")
    else:
      self._tot=t
  tot=property(tot,setter) #instead of "@decorator" we use this
o=hari(100)
print(o.tot)
print(o.avg())

o.tot=200
print(o.tot)
print(o.avg())

100
20.0
Invalid Value
100
20.0

In [ ]:
#classmethod
class Muthu:
  count=0
  def __init__(self,n,a):
    self.name=n
    self.age=a
    Muthu.count+=1

  def printDetail(self):
    print(f"My name {self.name} My age is {self.age}")
  @classmethod         #classmethod
  def total(cls):
    return cls.count

o=Muthu("Hari",23)
o.printDetail()

print("Total count : ",Muthu.total()) #same as "o.total()"

ab=Muthu("Hari",23)
ab.printDetail()

print("Total count : ",o.total())

My name Hari My age is 23
Total count :  1
My name Hari My age is 23
Total count :  2

In [ ]:
#inheritance
#==>single inheritance
#in here usually we have to create a object in child class only
class Father:
  def father(self):
    print("Parent class executed")
class son(Father):
  def son(self):
    print("My name is")

x=son()
x.son()
x.father()

My name is
Parent class executed

In [ ]:
#inheritance
#==>single inheritance for example with passing arguments
class Father:
  def __init__(self,name):
    self.name=name

  def father(self):
    print(f"My name is {self.name}")
    print("Parent class executed")

class Son(Father):
  def __init__(self,name,age):
    self.age=age
    Father.__init__(self,name)
  def son(self):
    print(f"My name is {self.name}")
    print(f"My age is {self.age}")

x=son("Hari",23)
x.father()
x.son()

My name is Hari
Parent class executed
My name is Hari
My age is 23

In [ ]:
#inheritance
#==>multiple inheritance for example with passing arguments
#child->mother,fother
class Fother:
  def __init__(self,fname,fage):
    self.fname=fname
    self.fage=fage
  def father(self):
    print(f"My father name is {self.fname}")
    print(f"My father age is {self.fage}")
class Mother:
  def __init__(self,mname,mage):
    self.mname=mname
    self.mage=mage
  def mother(self):
    print(f"My mother name is {self.mname}")
    print(f"My mother age is {self.mage}")
class child(Fother,Mother):
  def __init__(self,name,age,fname,fage,mname,mage):
    self.name=name
    self.age=age
    Fother.__init__(self,fname,fage)
    Mother.__init__(self,mname,mage)

  def child(self):
    print(f"My name is {self.name}")
    print(f"My age is {self.age}")
    Father.father(self)
    Mother.mother(self)

x=child("hari",20,"Ballu",40,"Rani",35)
'''x=Fother("Ballu",40)
x.father()
y=Mother("Rani",35)
y.mother()
x=child("hari",22)'''
x.child()

My name is hari
My age is 20
My name is hari
Parent class executed
My mother name is Rani
My mother age is 35

In [ ]:
#Multileval inheritance
#A class is derived from another derived class (like a chain).
class GrandParent:
    def feature1(self):
        print("Feature 1")

class Parent(GrandParent):
    def feature2(self):
        print("Feature 2")

class Child(Parent):
    def feature3(self):
        print("Feature 3")

obj = Child()
obj.feature1()
obj.feature2()
obj.feature3()

Feature 1
Feature 2
Feature 3

In [ ]:
#inheritance
#==>hierarical inheritance ==many child to one parent
# Hybrid (multiple + multilevel),Combination of two or more types (Single + Multiple + Hierarchical).
#in this we have to create a seperate object
class father:
  def house(self):
    print("House")

class mother:
  def Gold(self):
    print("Gold")

class son(father): #hierarical= "daughter" also inherit from father
  def car(self):
    print("Car")

class daughter(father):   #hierarical="son" also inherit from father
  def scooty(self):
    print("Scooty")

class son1(father,mother):   #here both # Hybrid (multiple + multilevel)
  def bike(self):
    print("bike")

x=son() # Create an instance of son
x.house()
x.car()
print("---------------")
y=daughter() # Create an instance of daughter
y.scooty()
y.house()
# daughter does not inherit from mother, so y.Gold() will cause an error
# y.Gold()
print("---------------")
z=son1() # Create an instance of son1
z.bike()
z.house()
z.Gold()

House
Car
---------------
Scooty
House
---------------
bike
House
Gold

In [ ]:
#try, except, finally, raise
try:
    x = int(input("Enter a number: "))
    if x < 0:
        raise ValueError("Negative numbers not allowed")  # manual error
    print("Result:", 10 / x)
except ZeroDivisionError:
    print("❌ Division by zero is not possible")
except ValueError as e:
    print("❌ Error:", e)
finally:
    print("Execution completed ✅")


'''OUTPUT TYPT
o/1
Enter a number: -5
❌ Error: Negative numbers not allowed
Execution completed ✅

o/p 2
Enter a number: 0
❌ Division by zero is not possible
Execution completed ✅

o/p 3
Enter a number: 4
Result: 2.5
Execution completed ✅

O/P 4
Enter a number: G
❌ Error: invalid literal for int() with base 10: 'G'
Execution completed ✅

'''

Enter a number: g
❌ Error: invalid literal for int() with base 10: 'g'
Execution completed ✅

"OUTPUT TYPT\no/1\nEnter a number: -5\n❌ Error: Negative numbers not allowed\nExecution completed ✅\n\no/p 2\nEnter a number: 0\n❌ Division by zero is not possible\nExecution completed ✅\n\no/p 3\nEnter a number: 4\nResult: 2.5\nExecution completed ✅\n\nO/P 4\nEnter a number: G\n❌ Error: invalid literal for int() with base 10: 'G'\nExecution completed ✅\n\n"

In [ ]:
a=input("Enter the number : ")
print(int(a),"string")

Enter the number : 50
50 string